*{
margin: 0;
padding: 0px;
box-sizing: border-box;
}
body {
    background-image: url(../assets/Imagenes/Bandiera-d-Italia-wide-i.jpeg);
    background-repeat: no-repeat;
    background-size: 100% 100%;

}
header{
    display: flex;
    position: fixed;
    z-index: 100;
}
main {
padding: 10px;
}
#carouselExampleIndicators{
    display: flex;
    justify-content: center;
}
.columnas {
    display: flex;
justify-content: space-between;
padding: 0%;
margin-right: 0%;
}
footer {
    height: 15%;
    margin-bottom: 0%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: flex-end;
}
